.vscode/**
.vscode-test/**
src/**
node_modules/**
!node_modules/@vscode/codicons/dist/**
.gitignore
tsconfig.json
esbuild.js
**/*.map
!dist/**
SPEC.md
*.vsix
resources/icon-marketplace.svg
!media/**
!resources/**
media/*.bak
media/**/*.bak
